{% if message.is_admin %}
<div class="message admin-message">
    <div class="message-bubble">
        <div>{{ message.text }}</div>
        <div class="message-time">
            {{ message.created_at|date:"H:i, d.m.Y" }}
        </div>
    </div>
</div>
{% else %}
<div class="message user-message">
    <div class="message-bubble">
        <div>{{ message.text }}</div>
        <div class="message-time">
            {{ message.created_at|date:"H:i, d.m.Y" }}
            {% if not message.is_read %}
                <i class="bi bi-check2 message-status"></i>
            {% else %}
                <i class="bi bi-check2-all message-status"></i>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
